.head{
    padding:5% ; 
    align-items: center;
    text-align: left;
    font-size: 1rem;
    font-weight: bolder;
    height: 50px;
}

.bottom{
    padding-left: 5%;
}

.bt2{
    margin-bottom: 10%;
}