.head{
    padding:5% ; 
    align-items: center;
    text-align: left;
    font-size: 1rem;
    font-weight: bolder;
    height: 50px;
}
.card-header{
    background-image: linear-gradient(to left, #fad961, #f76b1c);
}
.bottom{
    height: 100%;
    background-color: whitesmoke;
    padding-right: 5%;
    padding-top: 5%;
    padding-left: 5%;
}
